@model AppBlogCore.Models.Slider

@{
    ViewData["Title"] = "Edit Slider";
}

<br>
<br>
<h3 class="text-center">Edit Slider</h3>

<form method="POST" asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="SliderId" type="hidden" />
    <div class="row px-2 offset-1 border ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-8 mt-4">
            <div class="form-group row my-3">
                <div class="col-6">
                    <label class="col-4">
                        <label asp-for="Name"></label>

                    </label>
                </div>
                <div class="col-6">
                    <input asp-for="Name" class="form-control" placeholder="Enter Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row my-3">
                <div class="col-6">
                    <label class="col-4">
                        <label asp-for="Status"></label>
                    </label>
                </div>
                <div class="col-6">
                    <input asp-for="Status" class="form-check-input" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row my-3">
                <div class="col-6">
                    <label class="col-4">
                        <label asp-for="UrlImagen"></label>
                    </label>
                </div>
                <div class="col-6">
                    <input type="file" name="files" id="uploadFiles" class="form-control" />
                    <span asp-validation-for="UrlImagen" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="col-4 pt-3">
            <img src="@Model.UrlImagen" style="border-radius: 5px; border: 1px solid #bbb9b9;" class="img-fluid img-thumbnail" />
        </div>
        <div class="form-group row my-3 col-12">
            <div class="col-12">
                <button type="submit" class="btn btn-warning form-control my-2" asp-route-id="@Model.SliderId">Update</button>
            </div>
            <div class="col-12">
                <a asp-action="Index" class="btn btn-primary form-control">Back list</a>
            </div>
        </div>
    </div>
</form>