@model AppBlogCore.Models.ViewModel.ArticleVM

@{
    ViewData["Title"] = "Create Article";
}

<br>
<br>
<h3 class="text-center">Create a new Article</h3>

<form method="POST" asp-action="Create" enctype="multipart/form-data">
    <div class="row px-2 offset-1 border ">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-10 offset-1 mt-4">
            <div class="form-group row my-3">
                <div class="col-6">
                    <label class="col-4">
                        <label asp-for="Article.Name"></label>

                    </label>
                </div>
                <div class="col-6">
                    <input asp-for="Article.Name" class="form-control" placeholder="Enter Name" />
                    <span asp-validation-for="Article.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row my-3">
                <div class="col-6">
                    <label class="col-4">
                        <label asp-for="Article.Description"></label>

                    </label>
                </div>
                <div class="col-6">
                    <textarea asp-for="Article.Description" class="form-control" style="height: 300px;"></textarea>
                    <span asp-validation-for="Article.Description" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row my-3">
                <div class="col-6">
                    <label class="col-4">
                        <label for="Category">Category</label>

                    </label>
                </div>
                <div class="col-6">
                    @Html.DropDownListFor(m => m.Article.CategoryId, Model.CategoryList, "-- Select a category --", new {@class = "form-control"})
                </div>
            </div>

            @* <div class="form-group row my-3">
            <div class="col-6">
            <label class="col-4">
            <label asp-for="Article.CategoryId"></label>
            </label>
            </div>
            <div class="col-6">
            <select asp-for="Article.CategoryId" asp-items="Model.CategoryList" class="form-control">
            <option value="">Select a category</option>
            </select>
            <span asp-validation-for="Article.CategoryId" class="text-danger"></span>
            </div>
            </div> *@

            <div class="form-group row my-3">
                <div class="col-6">
                    <label class="col-4">
                        <label asp-for="Article.ImageURL"></label>

                    </label>
                </div>
                <div class="col-6">
                    <input type="file" name="files" id="uploadFiles" class="form-control" />
                </div>
            </div>

            <div class="form-group row my-3">
                <div class="col-8">
                    <partial name="_ViewCreateBack" />
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <script src="https://cdn.tiny.cloud/1/qukxrn62f4bz0iv6z7enaelkkzuzugir28y709xit9xm659s/tinymce/5/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            plugins: "lists",
            menubar: "file edit format"
        });
    </script>
}